body{margin:0px; font-size: 14px; color: #666; font-family: 'Source Sans Pro',sans-serif !important;}
.container{
	
}
.box-head{
    height: 60px;
    width: 100%;
}
h1,h2,h3,h4,h5,h6{padding: 0px !important; margin: 0px !important; color: #666 !important;}
h1{font-size: 20px !important;}
a:hover, a{text-decoration: none !important; color: #666 !important; }
.my-container{width: 100%;}
.head, .content-box{
    width: 85%;
    margin: 0 auto;
    height: 100%;
}
#logo{height: 60px; display: table; float:left; margin-right: 35px;}
#logo a{display: table-cell; vertical-align: middle;}
.login{height: 60px; display: table; float:left; margin-right: 5px;}
.login a{display: table-cell; vertical-align: middle; padding:0 5px;}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{bottom: 10px!important;}
.bx-wrapper{/*padding: 0px 20px !important; */max-width: none !important;}
.bx-controls-direction a{display: block !important;}
.content-box-1{margin: 20px 0px 0px 0px; background: #fff;}
.content-box-2, #slider, .content-box-3{border: 1px solid #DCDEE3;background: #fff;}
#slider{border-top:none;}
.category-box{height: 400px; overflow: hidden}
.category-box, .lst-category-level{padding:25px 0px; border: 1px solid #DCDEE3;}
.category-box h3 a{padding:10px 20px; !important; }
.category-box h3 {margin-bottom: 10px !important;}
.lst-category-level h4{padding-left: 20px !important;}
ol,ul{list-style: none; padding: 0px;}
ul.lst-category li, .lst-category-level ul li{ padding: 8px 20px; position: relative; color: #666;}
.lst-category-level a:hover{color:#F06E10 !important;}
ul.lst-category a li:hover{color: #F06E10; border-bottom: 1px solid #DCDEE3; border-top:1px solid #DCDEE3; }
ul.lst-category a{position: relative;}
.lst-category-level {position: absolute;top: 0px;right: -422px; background: #fff; z-index: 10; width: 440px; display: none; height: 400px;}
ul.lst-category li i{ float: right;}
.hide-border-right-lst{position: absolute;right: -2px; height: 100%; width: 5px; background: #FFF; display: none; top:0px; z-index: 100;}
.lst-category-level ul li{font-size: 12px; font-style: italic; padding: 2px 20px !important;}
.menu-shop h3{text-align: center;}
.menu-shop ul{margin-top: 20px;}
.menu-shop ul li a img{ margin-right: 10px;}
.menu-shop ul li:hover{background: #eee}
.menu-shop ul li{padding: 15px 20px}
.menu-shop{margin-bottom: 40px}
.content-box-2 .item-shop{height: 350px; padding: 0 10px}
.content-box-3 .item-shop{height: 250px; padding: 0 10px}
.item-info{padding: 10px;}
.title-p-lst-home{height: 50px; display: table; padding: 0px 10px; width: 100%; margin: 20px 0px 10px 0px;}
.title-p-lst-home h3{display: table-cell; vertical-align: middle;width: 100%;}
.title-p-lst-home span{vertical-align: middle; display: table-cell;}
.content-box-2 .bxslider-inner{height: 400px;}
.content-box-3 .bxslider-inner{height: 300px;}
#slider .bxslider-inner{height: 500px;}
.box-search{display: table;height: 60px;float: left;margin-left: 50px; width:30%;}
.box-search form{display: table-cell;vertical-align: middle;}
.box-search #search:before{margin-left: -25px;}
.bxslider-inner{/*margin:0px 10px*/}
.search-category{margin-top:20px;}
.category-level1, .category-level2{margin-left: 20px; display: none;}
.li-category{padding: 7px 0px}
.li-category1{padding: 4px 0px;overflow: hidden !important;}
.li-category2{padding: 2px 0px}
.category-filter .active{display: block !important;}
.cursor-pointer{cursor: pointer;}
.clone-product ul li{margin-bottom: 60px;}
.user-product ul li{margin-bottom: 60px;}
.shop-filter li{word-break: break-all; display: inline-block; height: 28px;}
.pagination{width: 100%; background: #f9f9f9}
.clone-product h1{padding: 10px 5px !important;}
.detail-info div{line-height: 30px;}
.feature-product ul li{padding: 10px 0px}
.box-right div{padding-left: 5px; padding-right: 5px}
.feature-product .col-md-6 span{font-size: 11px; opacity: 0.7; word-break: break-all;}
.feature-product .col-md-6 h3{font-size: 12px; line-height: 18px}
.login a{cursor: pointer}
.bx-prev:hover{opacity: 1 !important;}
.bx-next:hover{opacity:1 !important;}
.clone-product h1, .user-product h1{font-size:16px !important; min-height: 71px}
.box-eye-detail{text-align: center;}
.box-eye-detail p{
    padding:5px;
    border:1px solid #eee;}
.item-category-level{margin-bottom: 5px}
.advs{height: 350px; overflow: hidden}
.lst-category-level .col-md-6{margin-bottom: 5px}
.item-category-level h4{font-size: 16px !important;}
#box-list-category:hover{height: auto;}
.bx-wrapper img{border: 1px solid #eee; padding: 4px;}